header {
    height: 80px; 
    background-color:ghostwhite;
    font-size: 50px;
    color:black ;
    text-align: center;    
}

ol {
    font-size: 15px;
    color: black;
    text-align: left;
}

img {
    max-width: 100%; 
    height: auto;
}
.subject {
    height: 50px;
    background-color:azure;
    font-size: 38px;
    text-align: center;
    font-weight: 1000;
    color:black;
}

h2 {    
    font-size: 40px;
    color:dimgray;
    text-align: center; 
}

pre {
    font-size: 15px;
}

.content {
    height: 350px; 
    background-color: yellowgreen;
    display: flex;    
}

.content1 {  
    flex: 50%;
    background-color: whitesmoke;
}

.content2 {
    flex: 50%;
    background-color: honeydew;
    font-size: 30px;
    text-align: center;
}

.content3 {
    flex: 50%;
    background-color: seashell;
    font-size: 30px;
    text-align: center;
}

.menu {
    text-align: center;
}

.menu .a {
    color:black;
    text-align: center;
    font-size: 30px;
}

footer {
    height: 200px;   
    background-color:mintcream;
    clear: both;    
}

table {
    border: 1px solid #555757; 
    margin-left: auto;
    margin-right: auto;    
}

caption {
    font-size: large; 
    font-weight: bold;
    text-align: center;
    margin-top: 10px;   
    margin-bottom: 10px;
}

tr {
    border: 1px solid #555757; 
    margin: auto;
    /* align: left;   */
}

td {
    border: 1px solid #555757; 
    margin: auto;
    font-size: 15px;
    font-weight: bold;
}